.table-col {
  padding: 10px;
  border-bottom: 1px solid #6db8e4a8;
  border-right: 1px solid #6db8e4a8;
  width: 12%;

  &:first-of-type {
    position: sticky;
    width: 5%;
    left: 0;
    top: 0;
    z-index: 0;
    background-color: #e8f4ff;
    border-left: 1px solid #6db8e4a8;
  }

  &:last-of-type {
    width: 9%;
  }

  &:nth-of-type(3) {
    width: 10%;
  }

  &:nth-of-type(5) {
    width: 10%;
  }

  &:nth-of-type(6) {
    width: 20%;
  }
}
