@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.table-header-col {
  height: 60px;
  color: #ffffff;
  font-weight: bold;
  background-color: #0b8dd8;
  border: 1px solid #0074b8;
  cursor: pointer;

  .table-header-col-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .table-header-name {
    text-transform: uppercase;
  }

  .table-header-sort {
    display: inline-flex;
    flex-direction: column;
    user-select: none;

    .up {
      font-size: 0.7rem;
      transform: rotate(-90deg);
      color: #c0c0c0;

      &.active {
        color: red;
      }
    }

    .down {
      font-size: 0.7rem;
      transform: rotate(90deg);
      color: #c0c0c0;

      &.active {
        color: red;
      }
    }
  }
}

.table-header-row {
  height: 30px;
  width: 100%;
}
